body {
    text-align: center;
    background-color: powderblue;
}

h1 {
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font: bold 3rem sans-serif;
    margin: 3rem;
    padding: 1rem;
    outline-offset: 0.5rem;;
}

h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

button {
    display: inline;
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 1.5rem skyblue;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 4rem;
    padding: 1rem;
    font-size: 1.9rem;
    outline-offset: 0.5rem;
}

p:hoveR {
    color: pink;
    background-color: skyblue;
}