* {
    font-family: Helvetica;
    font-weight: 400;
}

body {
    background-color: #60a3bc;
}

h1 {
    color: khaki;
}

#titulo {
    text-align: center;
    background-color: #4a69bd;
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem #4a69bd;
    border-radius: 12px;
    margin: 10rem;
    padding: 0.5rem;
    outline-offset: 0.5rem;;
}

#placar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogador, #computador {
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    color: khaki;
    border: 0.5rem outset pink;
}

#jogador {
    background-color: #1e3799;
}

#computador {
    background-color: #e55039;
}

#versus {
    width: 70px;
    font-size: 40px;
    text-align: center;
}

#jogador-nome, #computador-nome {
    margin: 0;
    padding: 0;
}

#jogador-nome {
    text-align: left;
}

#computador-nome {
    text-align: right;
}

#jogador-pontos, #computador-pontos {
    position: absolute;
    top: 8px;
    font-size: 32px;
}

#jogador-pontos {
    right: 20px;
}

ul#jogador-escolha, ul#computador-escolha {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul#jogador-escolha li, ul#computador-escolha li  {
    display: inline;    
}

ul#jogador-escolha li a, ul#computador-escolha li a {
    opacity: .2;
}

ul#jogador-escolha li a:hover, ul#jogador-escolha li a.selecionado, ul#computador-escolha li a.selecionado {
    opacity: 1;   
}

ul#jogador-escolha li a img, ul#computador-escolha li a img {
    max-width: 80px;    
}

#mensagens {
    background-color: #b2bec3;
    text-align: center;
    font-size: 32px;
    border-radius: 5px;
    margin: 40px 0;
    padding: 20px;
    border: 0.5rem outset pink;
}